html {
    font-size: 10px;
    font-family: "Open Sans", sans-serif;
    background-color: #e0e3ef;
}

body {
    width: 800px;
    margin: 0 auto;
    background-color: #efefef;
    padding: 0 20px 20px 20px;
    border: 3px solid black;
}

h1 {
    font-size: 40px;
    text-align: center;
    text-shadow: 3px 3px 1px #102030;
    padding: 20px 20px;
}

h2:hover {
    border-bottom: 2px solid #102030;
}

h2 {
    font-size: 30px;
    text-shadow: 1px 1px 1px #102030;
}

h1,
h2 {
    margin: 0;
    color: #60739f;
}

p,
li {
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
    padding: 0px 20px;
}

img {
    display: block;
    margin: 0 auto;
}

code:not([class]) {
    background: #d0d0df;
    font-family: "Fira Code";
    font-size: 16px;
    color: black;
    padding: .125rem, .25rem;
    border: 1px solid #909090;
    border-radius: 5px;
}

pre{
    /* old: #808090 */
    background-color: #90a3bf;
    margin: 2px 40px;
    border: 2px solid #404040;
    border-radius: 5px;
    max-width: 800px;
    overflow-y: scroll;
    /* border-bottom: 1px solid gray; */
}

pre > code {
    font-family: "Fira Code";
    font-size: 16px;
    color: black;
    padding: 5px 10px;
    height: auto;
    width: 800px;
}

blockquote {
    background-color: #e0e0ef;
    border-left: 5px solid #c0c0e0;
}
